:root {
    --md-code-font: "JetBrains Mono NL", "LXGW WenKai Screen";
    --hn-link-hover-bg: var(--md-accent-fg-color--transparent);
    --hn-link-underline: var(--md-accent-fg-color--transparent);
    --hn-link-hover: var(--md-accent-fg-color);
}

.md-nav--secondary .md-nav__title {
    background: rgb(255 255 255 / 0%);
    box-shadow: 0 0 0.4rem 0.4rem rgba(255, 255, 255, 0);
    position: relative;
}

.md-nav--lifted > .md-nav__list > .md-nav__item--active > .md-nav__link {
    background: rgb(255 255 255 / 0%);
    box-shadow: 0 0 0.4rem 0.4rem rgba(255, 255, 255, 0);
    position: relative;
}

.md-nav__list a.is-active {
    color: var(--md-accent-fg-color);
}

.md-nav__item--active > .md-nav:not(:has(> .md-nav__list > .md-nav__item)) {
    display: none;
}

/* light mode */

[data-md-color-scheme="default"] .md-nav__title {
    color: #000;
}

[data-md-color-scheme="default"][data-md-color-primary="brown"] {
    --md-primary-fg-color: #795548;
    --md-primary-bg-color: #fff;
    --md-accent-fg-color: #b48a7c;
    --md-accent-fg-color--transparent: #b48a7c1a;
    --hn-link-hover-bg: #b48a7c1a;
    --hn-link-underline: #79554866;
    --hn-link-hover: #795548;
}

/* dark mode */

[data-md-color-scheme="slate"][data-md-color-primary="black"] {
    --hn-link-underline: #5e8bde88;
}

/* image border-radius and shadow */

/* img:not([src$=".svg"]) {
    border-radius: 5pt;
    box-shadow: var(--md-shadow-z2);
} */

/* heimu moegirl */

.heimu,
.heimu a,
a .heimu,
.heimu a.new {
    background-color: #252525;
    color: #252525;
    text-shadow: none;
}

.heimu:hover,
.heimu:active,
.heimu:hover .heimu,
.heimu:active .heimu {
    color: white !important;
}

.heimu:hover a,
a:hover .heimu,
.heimu:active a,
a:active .heimu {
    color: lightblue !important;
}

.heimu:hover .new,
.heimu .new:hover,
.new:hover .heimu,
.heimu:active .new,
.heimu .new:active,
.new:active .heimu {
    color: #ba0000 !important;
}

html {
    scroll-behavior: smooth;
}

/* arithmatex */

.md-typeset div.arithmatex > * {
    padding: 0;
}

/* figure */

.md-figure figcaption {
    font-size: 0.85em;
    font-style: normal;
    color: #777;
}

.typst-diagram {
    text-align: center;
}

.typst-diagram img {
    max-width: 100%;
    height: auto;
}
